/*
Description: Menéame CSS file
Site URI: http://meneame.net
Authors: Ricardo Galli, Benjamí Villoslada, Damián Vila, Aníbal De Castro
Licence: Affero GPL License (http://meneame.net/COPYING)
*/


body {
background-color: #2e3135 !important;
color: #a1acb4;
}

a {
  color: #a1acb4;
}

a:hover{
  color:#C7D0D6;
}

.notice.grey{
  background-color: #2E3135;
}

#wrap {
  background-color: #2e3135;
color: #a1acb4;
}

#header-top {
  background-color: #3e4850;
}

#header-top #notifier {
  background-color: rgba(0,0,0,0.4);
}

#header-top #notifier:hover{
background:#2e3135;
color: #a1acb4;
}

#header-top #notifier.nonzero {
background:#f00;
color:#fff;
}

#header-center {
  background-color: #353d44;
}

#header-sub{
  background-color: #353d44;
  border-bottom-color: #2e3135;
}

.header-menu01 {
  background-color: #353d44;
  border-bottom-color: #2e3135; 
}

.subheader li a {
  color: #737373;
}

.subheader li.selected a, .subheader li a:hover {
  border-bottom: 3px solid #737373;
  color: #737373;
}

#nav-panel{
  background-color: #3e4850;
}

#nav-panel .header-menu01 {
  background-color: #3e4850;
}

.drop-choices{
  background-color: #3e4850;
  border-color: #353d44;
}

#sidebar {
  background: #353d44;
  border-left-color: #3e4850;
}

.sidebox.message{
  color: rgba(255,255,255, 0.4);
  background-color: #3e4850;
}

.sub-statistics h4 {
  color: #a1acb4;
}

.posts--group .postMeta {
    color: rgba(255,255,255,0.4)!important;
}

.post-element {
  background: transparent;
}

.post-element:hover{
  background:#353d44;
}

.post-vote-button--count{
  color: #a1acb4;
}
.post-vote-button--arrow path{
  fill: #a1acb4;
}

.post-element--text--title {
    color: #a1acb4;
}

.posts--group .postMetaInline {
    color: rgba(255,255,255,0.2) !important;
}


.comment-body {
  background: #353d44 !important;
}

.comment-body a strong {
    color: #728FC9;
}

.sidebox .comments li {
    color: #728FC9;
}

.comment-body .content {
  color: #a1acb4;
}

fieldset{
  background-color: #3e4850;
}

.genericform {
  background-color: transparent;
}

.commentform textarea {
  background-color: #2e3135;
  color: #a1acb4;
  border: none;
  margin-top: 2px;
}

.commentform a:link, .commentform a:visited {
    border-bottom: none;
    color: white;
}

.emoji-panel{
  background-color: #353d44;
}

a.emoji-tab {
background-color: #2E3135;
color: #fff;
}

.pages {
  background-color: transparent;
}

#footcol1 h5, #footcol2 h5, #footcol3 h5, #footcol4 h5, #footcol5 h5 {
    color: #5898f1;
}

#footcol1{
  background: none;
}

.chars{
  color: #66757F;
}

.chars:hover{
  color: #5898f1;
}

.chars .selected {
  color: #5898f1;
}

.breadcrumb {
    background-color: #3e4850;
}

#footthingy {
background-color: #3e4850;
}

#wrap.wrap-color{
  background-color: #2e3135 !important;
}

.sneaker {
      margin-top: -3px !important;
}
.sneaker-legend {
    background: #3e4850 !important;

}

input[type="text"], input[type="url"] {
      background-color: #2e3135;
  color: #a1acb4;
}

#newswrap {
  background-color: #2e3135 !important;
}

.DashboardProfileCard {
  background-color: #353d44;
  border: none;
}

.comment-body {
  color: #a1acb4;
}

.comment-body .content-post {
  color: #a1acb4;
}

.sidebox-notes {
  background-color: #353d44;
  border: none;
}

.subname {
  background-color: #3e4850;
}

a:visited{
  color: #a1acb4;
}

.plataforma-info--title {
  color: #a1acb4;
}

.chincheta {
  color: #5898f1;
}

textarea{
  background: #2e3135;
      box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.11),inset 0 0 0 1px rgba(0,0,0,0.13);
      border: 0;
      color: #a1acb4;
}

label {
  color: #fff;
}

.button:disabled, button:disabled, input[type="button"]:disabled, input[type="submit"]:disabled {
    background: #415565;
    color: #344654;
}

.dropdown-menu {
    background-color: #3e4850;
    border-color: #000;
}



.dropdown-menu li {
    border-color: #000;
}

.dropdown-menu li:hover,
.dropdown-menu .active {
    background-color: #2e3135;
}

.posts--group hr {
    border-color: #353d44;
}

.post-element--action.i-comments.replied svg{
    fill: #353d44;
}

.postArticle-content {
    color: #a1acb4;
}

.sneaker-legend {
    color: #A2ACB4 !important;
}