
<div class="sidebox"><div>
<div class="header">
<h4>Apps</h4>
</div>

<ul style="list-style-type: none; font-size: 14px">
	<li>
		<a href="https://play.google.com/store/apps/details?id=com.titulares.helloworld"><i class="fa fa-android"></i> Yabber para Android</a>
	</li>
	<li>
		<a><i class="fa fa-apple"></i> Yabber para iOS próximamente</a>
	</li>
	<li>
		<a href="http://windowsphone.com/s?appid=920716ea-6b74-4fbe-8c1c-902e7f376f1f"><i class="fa fa-windows"></i> Yabber para Windows Phone</a>
	</li>
</ul>

</div>
</div>
