<div id="c-{{ self.prefix_id }}{{self.html_id}}">
	<div class="{{ self.comment_class }}" id="cid-{{ self.prefix_id }}{{self.id}}">

	{% if ! self.hide_comment AND self.type != 'admin' AND self.user_level != 'disabled' %}
		<a class="user-image post-detail--body--comments--item--user-image">
			<span class="user-image"><img
				data-2x="s:-40.:-80."
				data-src="{% exec get_avatar_url self.author, self.avatar, 40, false %}"
				src="{{ globals.base_static }}img/g.gif"
				class="tooltip u:{{ self.author }} lazy" alt="{{ self.username }}"
				/></span></a>
		{% endif %}

	{% include 'comment_summary_text.html' %}
	</div>
	<div class="{{ self.comment_meta_class }}">
		<div class="comment-votes-info">
		{% if self.type != 'admin' AND self.user_level != 'disabled' %}
			{% if self.can_vote %}
				{% if self.user_can_vote %}
	 				<span id="vc-p-{{ self.id }}" class="vote up" onClick="menealo_comment({{ current_user.user_id}},{{ self.id }},1)" title="{% trans _('informativo, opinión razonada...') %}"> </span>
					{% include 'comment_summary_votes.html' %}
	 				<span id="vc-n-{{ self.id }}" class="vote right down" onClick="menealo_comment({{ current_user.user_id}},{{ self.id }},-1)" title="{% trans _('sólo para racismo, insultos, spam...') %}"></span>
				{% else %}
					{% if self.voted >  0 %}
						<span id="vc-p-{{ self.id }}" class="vote up voted" title="{% trans _('votado positivo') %}"></span>
					{% else %}{% if self.voted < 0 %}
						<span id="vc-n-{{ self.id }}" class="vote down voted" title="{% trans _('votado negativo') %}"></span>
					{% endif %}{% endif %}

					{% include 'comment_summary_votes.html' %}
				{% endif %}
			{% else %}
				{% include 'comment_summary_votes.html' %}
			{% endif %}


		{% endif %}

		<a href="{% exec self.get_relative_individual_permalink %}" title="permalink"><i class="fa fa-link"></i></a>

		{% if self.thread_level < 1 %}
			{% if current_user.user_id > 0 %}
				<span id="favc-{{ self.prefix_id }}{{ self.id }}" onclick="add_remove_fav('favc-{{ self.prefix_id }}{{ self.id }}', 'comment', {{ self.id }})" {% if self.favorite %} class="favorite on" {% else %} class="favorite" {% endif %} ></span>
			{% endif %}
		{% endif %}

		{% if self.can_reply %}
			<span onclick="comment_reply({{self.id}}, '{{ self.prefix_id }}')" title="{% trans _('responder') %}" class="reply"></span>
		{% endif %}

	</div>

		<div class="comment-info">

		{% if self.url %}
	<a href="{{ self.url }}"><strong>#{{ self.order }}</strong></a>&nbsp;&nbsp;
{% else %}
	{% if self.link_permalink %}
		<a href="{{ self.link_permalink }}/c0{{ self.order }}#c-{{ self.order }}" rel="nofollow"><strong>#{{ self.order }}</strong></a>&nbsp;&nbsp;
	{% else %}
		<strong>#{{ self.order }}</strong>&nbsp;&nbsp;
	{% endif %}
{% endif %}



		<span class="ts showmytitle nomobile" data-ts="{{ self.date }}" title="{% trans _('creado') %}: "></span>
		{% set modified = self.modified - self.date %}
		{% if modified > 10 %}
			<span data-ts="{{ self.modified }}" class="ts novisible wideonly showmytitle" title="{% trans _('editado') %}: "><strong>&nbsp;*&nbsp;</strong></span>&nbsp;
		{% endif %}



		</div>
	</div>
</div>
