<input type="hidden" name="link_id" value="{{ link.id }}" />
<input type="hidden" name="user_id" value="{{ current_user.user_id }}"/>

{% include 'simpleformat_buttons.html' %}
<textarea name="comment_content" class="droparea" id="edit-comment-{{ comment.randkey }}" rows="5">{{ comment.content }}</textarea>



<input class="button" style="width:9em" type="submit" name="submit" value="{% trans _('enviar') %}" />

{% if current_user.user_level == 'god' || current_user.user_level == 'admin' %}
	&nbsp;&nbsp;&nbsp;<label><strong>{% trans _('admin') %}</strong>
	<input name="type" type="checkbox" value="admin"
	{% if comment.type == 'admin' %}
		checked="true"
	{% endif %}
	/></label>
{% endif %}


{% if comment.media_size > 0 %}
	&nbsp;&nbsp;<label>{% trans _('Eliminar imagen') %}: <input type="checkbox" name="image_delete" value="1"/></label>&nbsp;
{% endif %}

{% if current_user.user_karma > globals.media_min_karma OR current_user.admin %}
	<input type="hidden" name="MAX_FILE_SIZE" value="{{ globals.media_max_size }}" />
	<input type="file" autocomplete="off" name="image"
		id="fileInput{{ comment.randkey }}"
		class="uploadFile"
		accept="image/*"
	/>

	<span class="fa microphone-icon" style="font-size: 23px; vertical-align: middle" id="grabar" onclick="checkRecorder(this);"></span>
	<button type="button" onclick="stopRecording(this);" disabled>stop</button>
	<i id="subiendo"></i>

	<div class="droparea_info"></div>

<ul id="recordingslist"></ul>

	<script type="text/javascript">
	addPostCode( function () {

		$('form.comment').droparea({maxsize: {{ globals.media_max_size }} });
		$('textarea').autosize();
		$("#fileInput{{ comment.randkey }}").nicefileinput();
		var elements = ['b', 'i', 'spoiler', 'sub', 'sup','del'];
		var emojies = ['nusenuse.gif','wall.gif','popcorn.gif','roll.gif','clap.gif','lol.gif','kiss.gif','cry.gif','roto2.png','cool.png','troll.png','coletas.png','take.png','ferrari.png','pagafantas.png','mola.png'];
		$('.droparea').textcomplete([
						{
						match: /\B:([\-+\w{2,}]*)$/,
						search: function (term, callback) {
								callback($.map(emojies, function (emoji) {
										return emoji.indexOf(term) === 0 ? emoji : null;
								}));
						},
						template: function (value) {
								return '<img src="/img/menemojis/18/' + value + '"></img> ' + value.substr(0,value.length - 4);
						},
						replace: function (value) {
								return ':' +  value.substr(0,value.length - 4) + ': ';
						},
						index: 1
				    },
						{
					    match: /(^|\s)@(\w*)$/,
					    search: function (term, callback) {

					      $.getJSON('/backend/textcomplete_user.php', { q: term })
					        .done(function (resp) { callback(resp); })
					        .fail(function ()     { callback([]);   });
					    },
							template: function (value) {
									return '<img src="/backend/get_avatar.php?user='+value+'&amp;size=20" class="avatar"></img> ' + value;
							},
					    replace: function (value) {
					      return '$1@' + value + ' ';
					    },
					    index: 2
					  },
						{
							match: /(^|\s)\|(\w*)$/,
					    search: function (term, callback) {

					      $.getJSON('/backend/textcomplete_platforms.php', { q: term })
					        .done(function (resp) { callback(resp); })
					        .fail(function ()     { callback([]);   });
					    },
					    replace: function (value) {
					      return '$1|' + value + ' ';
					    },
					    index: 2
				    },
						{
		        match: /<(\w*)$/,
		        search: function (term, callback) {
		            callback($.map(elements, function (element) {
		                return element.indexOf(term) === 0 ? element : null;
		            }));
		        },
		        index: 1,
		        replace: function (element) {
		            return ['<' + element + '>', '</' + element + '>'];
		        }
					},

		], {maxCount: 5});
	});
	</script>

{% endif %}
