<div class="sidebox"><div><div class="header blue">
<h4>Moderadores</h4>
</div>

<div class="comments blue"><ul>
{% for mod in mods %}
	<li><img data-src="{% exec get_avatar_url mod.user_id, mod.user_avatar, 40, false %}" data-2x="s:-20.:-40." alt="" src="{{ globals.base_static | noscheme }}img/g.gif" class="tooltip u:{{ obj.user_id }} avatar lazy" style="margin-top:-3px"/>
	<p><strong><a href="/user/{{mod.user_login}}">{{mod.user_login}}</strong></a></p> </li>
{% endfor %}
</ul></div></div>

</div>
