<div class="blur-background"></div>
<div class="colloquium">
  <div class="copy-width">
  		<h2>Bienvenido {{ username }}</h2>
  		<p>Acabas de llegar a Yabber y vamos a explicarte un poco el funcionamiento.</p>
      <p>El sitio se organiza mediante plataformas, que vendrían a ser el equivalente a los subforos al que estarás acostumbrado.</p>
      <img src="http://i.imgur.com/3BiJx4K.gif">
      <br>
      <br>
      <p>En la portada aparecen los temas de todas las plataformas ordenados por fecha de actividad, y también tienes la opción de suscribirte a las plataformas que quieras que podrás ver en tus suscripciones.</p>
  		<hr>
  		</div>

  		<div class="copy-width">
  		<h2>Interfaz</h2>

       <img src="http://i.imgur.com/Kkx8oi3.png">

  		<p>En la parte inferior derecha puedes acceder a todas las plataformas y arriba, pulsando en tu avatar accedes a tu perfil.</p>

      <p>En la parte inferior izquierda tienes el botón para abrir temas, y arriba enlaces para ir al inicio o a la plaza (un espacio donde compartir notas off-topic de hasta 500 caracteres).</p>
  		<hr>
  		</div>

      <div class="copy-width">
  		<h2>Otras opciones</h2>
      <li><b>Videos e imágenes</b>: solamente tienes que pegar la url y automáticamente aparecerá el vídeo o imagen.</li>
      <li><b>Menciones</b>: escribiendo '@' delante del nombre de un usuario se converirá en una mención.</li>
      <li><b>Hashtags</b>: escribiendo '#' delante de una palabra se convertirá en un hashtag.</li>
      <li><b>Link a plataforma</b>: escribiendo '|' delante del nombre de una plataforma, se convertirá en un link a dicha plataforma.</li>
      <li><b>Emojis</b>: Hay disponibles una serie de emojis propios, además de todos los de los teclados móviles.</li>
      <li><b>Cambio de tema</b>: Hay disponibles varios temas en la web, modo noche, día y gmail. Elegibles desde el footer.</li>
  		<hr>
  		</div>

      <div class="copy-width">
  		<h2>Ya lo tienes</h2>
      <p>Ya tienes las claves para dominar Yabber. <a href="/p/Presentate">Entra y preséntate</a> :)
  		</div>

</div>

<style>#footthingy {display: none}

.genericform {
    color: rgba(0,0,0,0.7);
}

.copy-width a{
  color: #0549D2;
  }</style>
